<div class="container-fluid">
    <div class="p-4 p-md-5 mb-4 mt-3 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Welcome to the Restaurant App</h1>
            <p class="lead my-3">Here, it's not only important that our guests get a true insight into the culinary world of the Asian subcontinent, but also are comfortable in our surroundings.
                </p>
            <button class="btn btn-primary"><a class="text-white text-decoration-none" routerLink="menu">View
                    Menu</a></button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card rounded">
                <img src="https://images.unsplash.com/photo-1414235077428-338989a2e8c0" class="card-img-top" alt="image1">
                <div class="card-body">
                    <p class="card-text">
                        Order Online
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card rounded">
                <img src="https://images.unsplash.com/photo-1552566626-52f8b828add9" class="card-img-top" alt="image2">
                <div class="card-body">
                    <p class="card-text">
                        Menu
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card rounded ">
                <img src="https://images.unsplash.com/photo-1550966871-3ed3cdb5ed0c" class="card-img-top" alt="image3">
                <div class="card-body">
                    <p class="card-text">
                        Reservation
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4">
    <h1 class="text-uppercase text-primary">Our Dishes</h1>
    <div class="row mt-3">
        <div class="col-md-4">
          <img src="https://images.unsplash.com/photo-1639124215495-cc6e181971de" class="img-fluid rounded-circle img-thumbnail shadow" alt="">
        </div>
        <div class="col-md-4">
           <img src="https://images.unsplash.com/photo-1645351592991-df53a68bc43e" class="img-fluid rounded-circle img-thumbnail shadow" alt="">
        </div>
        <div class="col-md-4">
            <img src="https://images.unsplash.com/photo-1583077874340-79db6564672e"  class="img-fluid rounded-circle img-thumbnail shadow" alt="">
        </div>
    </div>
</div>
<div class="container mt-4">
    <h1 class="text-uppercase text-primary">Our chef</h1>
    <div class="row mt-3">
        <div class="col-md-4">
            <h3>Peter GRISAI</h3>
            <h6>EXECUTIVE CHEF</h6>
            <p >In 1993, Ramsay became head chef of Aubergine in London, and within three years Aubergine was awarded two Michelin stars.Restaurant Gordon Ramsay. Restaurant Gordon Ramsay opened in 1998, and quickly received the most prestigious accolade in the culinary world – three Michelin stars. Today, Restaurant Gordon Ramsay is London’s longest-running restaurant to hold this award, and Ramsay is one of only four chefs in the UK to maintain three stars.  </p>
        </div>
        <div class="col-md-4">
            <h3>Alex Thunder</h3>
            <h6>CHEF DE CUISINE
            </h6>
            <p>Ducasse came to the United States and in June 2000 opened the Alain Ducasse restaurant in New York City's Essex hotel at 160 Central Park South, receiving the Red Guide's three stars in December 2005, in the first Red Guide for NYC. Ducasse became the first chef to have 3 restaurants awarded 3 Michelin stars at the same time. That restaurant closed in 2007 when Ducasse chose to open a restaurant in Las Vegas named Mix, which later went on to earn one star in the Michelin Red Guide.  </p>
        </div>
        <div class="col-md-4">
            <h3>Harry SAITIS</h3>
            <h6>PASTRY CHEF</h6>
            <p>Keller's mother was a restaurateur who employed Thomas as help when her cook got sick. Four years after his parents divorced, the family moved east and settled in Palm Beach, Florida. In his teenage summers, he worked at the Palm Beach Yacht Club starting as a dishwasher and quickly moving up to cook. It was here he discovered his passion for cooking and perfection of the hollandaise sauce.

                During summers, he worked as a cook in Rhode Island. 
    </div>
</div>
